<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->


<div class="container" >
    <div class="row">
        <div class="col-md-6">
            <form #empSearchForm="ngForm">
                <fieldset>
                    <legend class="text-center">Employee Search Form <span class="req"><small>
                                required *</small></span></legend>
                <div class="form-group">
                    <label for="firstName"><span class="req">* </span> Name (first or last only): <small>This will be First
                            name or Last Name</small> </label>
                    <input required [(ngModel)]="employee.firstName" type="text" name="firstName" id="firstName"
                        class="form-control" maxlength="28" placeholder="Enter your First Name..."  #firstName="ngModel"/>
                </div>

                <div [hidden]="firstName.valid || firstName.pristine" class="alert alert-danger">
                    Name is Required
                </div>
                <div class="form-group">
                    <label for="startDate"><span class="req">* </span> Start Date: </label>
                    <input class="form-control date" type="date" [(ngModel)]="employee.startDate" name="startDate" id="startDate" required
                        placeholder="Enter a valid date" #startDate="ngModel"/>
                    <div id="errFirst"></div>
                </div>

                <div [hidden]="startDate.valid || startDate.pristine" class="alert alert-danger">
                    Invalid value of Start Date
                </div>

                <div class="form-group">
                    <label for="endDate"><span class="req">* </span> End Date: </label>
                    <input class="form-control date" type="date" [(ngModel)]="employee.endDate" name="endDate" id="endDate" required
                        placeholder="Enter a valid date" #endDate="ngModel"/>
                    <div id="errFirst"></div>
                </div>

                <div [hidden]="endDate.valid || endDate.pristine" class="alert alert-danger">
                    Invalid value of End Date
                </div>

                <div class="form-group">
                    <input class="btn btn-success" [disabled]="!empSearchForm.form.valid" type="submit" name="submit_reg" value="Search" (click)="findEmployees()">
                </div>
            </fieldset>
        </form><!-- ends register form -->
        <!-- second for to fiter user-->
        <div>
            {{empSearchForm.className}}
        </div>
    </div>
    </div>
    </div>


<div class="container">
    <div class="row col-md-12 col-md-offset-2 custyle">
    <table class="table table-striped custab">
    <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Job Title</th>
            <th>Start Date</th>
            <th>End Date</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let emp of retData">
            <td>{{emp.id}}</td>
            <td>{{emp.firstName}}</td>
            <td>{{emp.lastName}}</td>
            <td>{{emp.jobTitle}}</td>
            <td>{{emp.startDate}}</td>
            <td>{{emp.endDate}}</td>
          </tr>
    </tbody>
    </table>
    </div>
</div>

<div>
    <a class="nav-link" routerLink="/home">Back to Home</a>
</div>

