<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<div style="text-align: center">
    <h1>{{message}}</h1>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <form>
                <fieldset>
                    <legend class="text-center">Valid information is required to register. <span class="req"><small>
                                required *</small></span></legend>

                    <div class="form-group">
                        <label for="firstName"><span class="req">* </span> First Name: <small>This will be your First
                                name</small> </label>
                        <input required type="text" [(ngModel)]="employee.firstName" name="firstName" id="firstName"
                            class="form-control" maxlength="28" placeholder="Enter your First Name..." #firstName="ngModel"/>
                    </div>


                    <div class="form-group">
                        <label for="lastName"><span class="req">* </span> Last Name: <small>This will be your Last
                                name</small> </label>
                        <input required type="text" [(ngModel)]="employee.lastName" name="lastName" id="lastName"
                            class="form-control phone" maxlength="28" placeholder="Enter your Last Name..." />
                    </div>

                    <div class="form-group">
                        <label for="JobTitle"><span class="req">* </span> Job Title: <small>This will be your Job Title</small> </label>
                        <input required type="text" [(ngModel)]="employee.JobTitle" name="jobTitle" id="jobTitle"
                            class="form-control phone" maxlength="28" placeholder="Enter your Job Title..." />
                    </div>

                    <div class="form-group">
                        <label for="startDate"><span class="req">* </span> Start Date: </label>
                        <input class="form-control" type="date" [(ngModel)]="employee.startDate" name="startDate" id="startDate" required
                            placeholder="Enter a valid date" />
                        <div id="errFirst"></div>
                    </div>

                    <div class="form-group">
                        <label for="endDate"><span class="req">* </span> End Date: </label>
                        <input class="form-control" type="date" [(ngModel)]="employee.endDate" name="endDate" id="endDate" required
                            placeholder="Enter a valid date" />
                        <div id="errFirst"></div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit_reg" value="Register" (click)="registerNow()">
                    </div>
                </fieldset>
            </form><!-- ends register form -->
            <!-- second for to fiter user-->
        </div><!-- ends col-6 -->

    </div>
</div>

<div>
    <a class="nav-link" routerLink="/home">Back to Home</a>
</div>
